/* Will be compiled down to a single stylesheet with your sass files */

body{
	margin: 20px;
	margin-top: 50px;
}
.even-row{
	background-color: #ffffff;
	
}
.odd-row{
	background-color: #efefef;
	
}

a{color: black; text-decoration: none;}

a:hover {color: gray; text-decoration: none;}
